@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500&display=swap');

.whole-clt-container{
    
    padding-bottom: 8em;
}
.clt-container{
    /* background-color: #16205F; */
    
    color: var(--black, #16205F);
    font-family: "Poppins",  sans-serif;
    width: 90%;
    margin: 6em auto 0 auto;
    text-align: center;
}
.clt-header{
    font-size: 2rem;
    /* font-style: normal; */
    font-weight: 600;
    
    width: 80%;
    margin: 0.25em auto 2em auto;
}

.clt-header2{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 1em;
    width: 80%;
    margin: 0 auto;
}

