img{
    width: 100%;
}
.hr-container{
    margin: 0;
    padding: 0;

}
.hero-image{
    background-color: rgb(35, 165, 74);
    border-radius: 0px 0px 0px 128px;
}
.hero-text{
    display: flex;
    flex-direction: column;
    width: 94%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    
}
.hero-header,
.hero-paragraph,
.hero-btn{
    background-color: inherit;
}
.hero-header{
    padding-top:0.75em ;
    font-size: 2rem;
    font-weight: 700;
    color: #16205F;
}
.hero-paragraph{
    padding:0.75em 0em;
    font-size: 1.125rem;
    font-weight: 400;
    color: #16205F;
}
.hero-btn {
    background: linear-gradient(100deg, rgba(255, 155, 0, 1) 1%, rgba(253, 164, 0, 1) 20%, rgba(255, 155, 1, 1) 40%, rgba(251, 189, 48, 1) 60%, rgba(247, 189, 1, 1) 80%, rgba(242, 203, 0, 1) 100%);
    border: none;
    padding: 0.75em 1.5em;
    border-radius: 8px;

}
.hero-btn{

    margin-top: 1em;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    /* font-style: normal; */
    font-weight: 600;
    line-height: normal;
}
