@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500&display=swap');

img{
    width:100%;
}
.sln-container{
    color: var(--black, #16205F);
    font-family: "Poppins",  sans-serif;
    width: 90%;
    margin:0 auto;
}
.sln-text{
  margin-top: 3em;
  
}
.sln-header{
    font-size: 2rem;
    font-weight: 600;
}

.sln-header2{
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 1em;
}
.sln-paragraph{
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:1.5em 0;
    padding-bottom:1em;
}
.sln-slide{
    margin-top: 5em;
    margin-bottom: 4em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Solutions.css */
.sln-slide:not(:first-child) {
    display: none;
  }
  
  /* Radio button styles */
  .sln-slider-button label {
    margin-right: 10px;
    /* padding: 1em; */
  }
  
  .sln-slider-button input[type="radio"] {
    display: none;
  }
  
  .sln-slider-button input[type="radio"] + span {
    display: inline-block;
    padding: 4px 8px;
    background-color: #F0F0F0;
    /* border: 1px solid #100e0e; */
    cursor: pointer;
    width: 42px;
  }
  
  .sln-slider-button input[type="radio"]:checked + span {
    background-color: #bdbbbb;
    color: #fff;
    border-color: #007bff;
  }
  .slide-image{
    width: 124px;
    height: 124px;
    flex-shrink: 0;
    background:#FFF856;
    border-radius: 8px;
}
.sln-slide-image{
    display:flex;
    justify-content:center;
    margin:2.5em 0;
}
.sln-each-header{
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
}
.sln-each-paragraph{
  margin-top: 1em;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sln-slider-button{
  margin: 8em  0em;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 800px) {
  .sln-container {
    width: 80%;
  }
  .sln-text {
    display: none !important;
  }
  .sln-slider-button {
    display: none;
  }
  .sln-slides {
    /* background-color: #007bff; */
    margin: 2em 0em 0em 0em;  
    display: flex;
    flex-direction: row; /* Display slides in a row */
    justify-content: space-between; /* Distribute space between slides */
    align-items: flex-start; 
    /* Center align slides vertically */
  }

  .sln-slide {
    /* background-color: #FFF856; */
    height: 100%;
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start; /* Align content horizontally to the start */
    align-items: flex-start; /* Align content vertically to the start */
    gap: 1em;
  }
  .sln-slide-image {
    width: auto;
    margin: 0;
    max-width: 124px;
  }
  .sln-slide-text{
    width: 82%;
    max-width:380px;
    padding-right: 1em;
  }
  .slide-image{
    width: 80px;
    height: 80px;
  }
}

 @media (min-width: 768px) and (max-width: 1000px) {
  .sln-slides {
    margin: 2em 0em 0em 0em;  
    display: flex;
    flex-direction: row; /* Display slides in a row */
    justify-content: space-between; /* Distribute space between slides */
    align-items: flex-start; 
    
  }
  .sln-slide {
    /* background-color: #FFF856; */
    /* height: 100%; */
    display: flex !important;
    flex-direction: column;
    width: 32%;
    gap:0.125em;
  }
  .sln-slide-text{
    
    width: 100%;
  }
  .sln-slide-image{
    align-self: flex-start;
    padding-left: 2em;
  }
}
